@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-[var(--foreground)] bg-[var(--background)];
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  @apply text-[var(--foreground)] bg-[var(--background)];
}
